
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --deal-announce-background: #6d7866;
  --product-background: #eeeeee;
  --footer-background: #e0e0e0;
  --deal-announce-height: 3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', Helvetica;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

  width: 100vw;
}
.deal-announce {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  width: 100vw;
  height: var(--deal-announce-height);
  margin: 0;
  background-color: var(--deal-announce-background);

  /* border: solid deeppink; */
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding-left: 40px;;
}

.nav-links {
  margin-right: 40px;
}
.nav-links a {
  text-decoration: none;
  font-size: smaller;
  margin: 0 1.8em;
}

.hero-image {
  width: 100vw;
}

.entice {
  position: absolute;
  display: flex;
  top: calc(100vw * .82);
  /* height: calc(100vw * .165); */
  width: 100vw;
  height: 22vh;
  z-index: 99;
  background-color: #ffffff99;

  /* border: 5px solid rgb(0, 255, 153); */
}

.entice-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em 5em;
  height: 70%;
  letter-spacing: .08pc;
  color: #111111;
}
.entice-text {
  color: #000000;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}
.shop-now {
  opacity: 1;
  background-color: #ffffffff;
  z-index: 100;
  min-height: 34px;
  width: 9em;
  border: none;
}
.shop-now:hover {
  cursor: pointer;
  filter:drop-shadow(5px 5px blue);
}
.shop-now:active {
  background-color: #6d7866;
  filter: drop-shadow(-5px -5px orange);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--product-background);
  padding: 0 0 3em 0;
  /* z-index: 100; */
  /* border: 5px solid orange; */
}

.products-header {
  text-align: center;
  margin: 0;
  padding: 3em 0 2em 0;
  height: 100%;
  font-size: 12px;
  color: #0009;
  background-color: var(--product-background);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bike {
  width: 25vw;
  margin: 1em;
}
.bike-name {
  margin: 2px;
  padding: 0;
}
.card p {
  width: 1em;
  height: 1em;
  background-color: aqua;
  border-radius: 50%;
  margin: 0 3px;
}
.color-span {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.card:nth-child(even) p {
  background-color: deeppink;
}



.inside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  background-color: white;
}
.inside .card {
  padding-bottom: 30px;
}
.seymour {
  background-color: white;
  height: 2.5em;
  margin-top: 10px;
}

.inside-header {
  text-align: center;
  margin: 0;
  padding: 3em 0 2em 0;
  height: 100%;
  font-size: 12px;
  color: #0009;
}
.inside-span {
  width: 80%;
  text-align: center;
}

footer {
  padding: 50px;
  background-color: var(--footer-background);
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 70%;
}
.footer-div a {
  text-align: left;
  text-decoration: none;
}
